<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".css" policy="DisableCache" kernelCachePolicy="DisableCache" />
            </profiles>
        </caching>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
    <system.web>
        <customErrors defaultRedirect="https://voided.dev/404.html" mode="On">
        </customErrors>
    </system.web>
</configuration>
